@model WebAppVideoCamersOperzal.Models.Entities.VideoCamera
@{
    ViewBag.Title = $"Удаление камеры #{Model.id}";
    ViewBag.Breadcrumbs = new Dictionary<string, string>();
    ViewBag.Breadcrumbs.Add(Url.Action("View", "Organization", new { id = Model.organization.code }), Model.organization.fullName);
    ViewBag.Breadcrumbs.Add("", ViewBag.Title);
}

<h1 class="display-6 border-bottom">@ViewBag.Title</h1>

<div class="card">
    <div class="card-header">
        <h4>Вы уверены, что хотите удалитиь камеру?</h4>
    </div>
    <div class="card-body">
        <p>Ссылка: @Model.url</p>
    </div>
    <div class="card-footer">
        <form method="post">
            <div class="btn-group mt-2">
                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                <a asp-action="View" asp-controller="Organization" asp-route-id="@Model.orgCode" class="btn btn-secondary btn-sm">Отмена</a>
            </div>
        </form>
    </div>
</div>